<!DOCTYPE html>
{% extends 'base.html' %}
    {% block title_block %}
<title>Fressistant</title>
  {% endblock %}

{% block body_block %}
<body class = "home">

<div class ="container col-lg-12 col-md-12 col-sm-12" id="i_container">
    <h3 id="head1"><a href="{% url 'documentation' %}">Get Your Dream Job By Automating Mail</a></h3>
<!--    using enctype as we are using file upload, form will not get valid until we add this-->
    <form class="flex-container" method="POST" enctype="multipart/form-data">
{{form.as_p}}
{% csrf_token%}
        <input type="submit" value="submit" id = "btn_submit" class="btn btn-outline-light">
    </form>
</div>
</body>
{% endblock %}
</html>
